1. Install the Python packages using below commands

!pip install pandas
!pip install chromadb
!pip install langchain
!pip install numpy
!pip install -U langchain-openai
!pip install pydantic
!pip install shutil
!pip install langchain_community
!pip install openai==1.55.3 httpx==0.27.2 --force-reinstall --quiet
